:root{
  --primary: #f3c26b;
}

.hero{
    height: calc(100vh);
    transition: all .1 ease-in-out;
    background-image: url('images/about/bg-1.jpg');
    animation: hero-banner 28s infinite linear;
}
.hero .hero-content{
    background-color: rgba(0, 22, 40, 0.6);
}

.hero-content h1 {
  color: var(--primary);
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
  line-height: 4.3rem;
  position: relative;
  
}
.hero-content h1::before {
  background: var(--primary);
  width: 3rem;
  height: 0.30rem;
  top: 2rem;
  left: 0;
  position: absolute;
}
.hero-content h1 span {
  color: #fff;
  font-weight: 700;
}

@keyframes hero-banner {
   0%{
    background-image: url('images/about/bg-1.jpg');
  }
  25%{
    background-image: url('images/about/bg-1.jpg');
  }
   26%{
    background-image: url('images/blog/blog-2.jpg');
  }
  50%{
    background-image: url('images/blog/blog-2.jpg');
  }
   51%{
    background-image: url('images/header/header.jpg');
  }
  75%{
    background-image: url('images/header/header.jpg');
  }
   76%{
    background-image: url('images/about/about.jpg');
  }
  100%{
    background-image: url('images/about/about.jpg');
  }

}




.banner-meta {
  margin: 0 0 3rem;
  background: rgba(62, 62, 62, 0.82);
  margin-left: 4.3rem;
  padding-left: 25px;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.75rem;  
}
.banner-meta li {
  letter-spacing: 2px;
  display: inline;
  position: relative;
  text-transform: capitalize;
  font-size: 15px;
  color: #e4d1d1;
  font-weight: 600;
  line-height: 27px;
}
.banner-meta li:first-of-type::before {
  top: -1px;
  content: " ";
  font-size: 11px;
  position: relative;
  color: currentcolor;
  padding: 0 15px 0 0;
}
.banner-meta li::before {
  top: -1px;
  content: "|";
  font-size: 11px;
  position: relative;
  color: var(--primary);
  padding: 0 15px 0 17px;
}
.banner-btn {
  padding-left: 4.3rem;
}
.down {
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0.75rem;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center;
  left: 0;
  right: 0;
  width: 20.25rem;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.down .down-one {
  display: block;
  height: 0px;
  margin-bottom: 5px;
  width: 1px;
  background: var(--primary);
  margin-left: 12px;
}
.down .down-two {
  text-orientation: mixed;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  white-space: nowrap;
  transform: rotate(180deg);
}
.down:hover .down-two {
  color: var(--primary) !important;
}
.down .down-three {
  display: block;
  height: 1.75rem;
  margin-bottom: 5px;
  width: 1px;
  background: #ffffff;
  margin-left: 12px;
  
}
.down:hover .down-three {
  height: 0px;
  background: var(--primary);
}
.down:hover .down-one {
  height: 1.75rem;
}



 @media (max-width: 575.98px) { 
    
  /*========== Start Header ==========*/    
  .hero-content h1 {
      font-size: 1.75rem;
      margin-bottom: 1.75rem;
      line-height: 2.25rem;
      padding-left: auto;
      margin-left: auto;
      
  }
  .hero-content h1::before {
      display: none;
  }
  .hero-content h1 span {
      margin-top: 0.75rem; 
   } 

   } 